<section class="sec-features">Features
<div class="container container-features">
   <h2 class="visually-hidden">Features</h2>>
   <!--Liste Feature-->
   <ul class="features-list">
    <!--Liste Feature 1-->
    <ol>
    <li class="features-item">
    <h3 class="features-subtitle">01</h3>
  <p class="features-text">Swimming and water sports: try your hand at water skiing
  </p>
</li>
</ol>
  <!--Liste Feature 2-->
  <ol>
  <li class="features-item">
    <h3 class="features-subtitle">02</h3>
    <ol></ol>
    <p class="features-text">Fishing: try to catch your own dinner
    </p>
 </li>
</ol>
  <!--Liste Feature 3-->
  <ol>
  <li class="features-item">
    <h3 class="features-subtitle">03</h3>
    <ol></ol>
    <p class="features-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water 
    </p>
  </li>
  </ol>
  <!--Liste Feature 4-->
  <ol>
  <li class="features-item">
    <h3 class="features-subtitle">04</h3>
    <p class="features-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.
    </p>
  </li>
  </ol>
</div>

<div class="card">
  <img class="card-image"
  src="" alt="">  
</div>
</section>
