<div class="header-menu-section">
  <div class="soc-menu-list">
    <div class="menu-section-plate">
      <a class="text-menu-section" href="/src/index.html">yachtjet</a>
      <button type="button" class="btn-close-header-menu">
        <svg class="icon-close-header-menu" width="28" height="28">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="navigation-menu-header-bord">
      <ul class="navigation-menu-list">
        <li class="list-item-navigation-menu">
          <a class="navigation-text-header-menu first" href="">About</a>
        </li>
        <li class="list-item-navigation-menu">
          <a class="navigation-text-header-menu" href="">Yachts</a>
        </li>
        <li class="list-item-navigation-menu">
          <a class="navigation-text-header-menu" href="">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
  <ul class="list-media-menu container-menu-header">
    <li class="list-item-media-menu">
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <svg class="icon-media-header-menu" height="24" width="24">
          <use href="/img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="list-item-media-menu">
      <a
        href="https://www.youtube.com/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <svg class="icon-media-header-menu" height="24" width="24">
          <use href="/img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="list-item-media-menu">
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <svg class="icon-media-header-menu" height="24" width="24">
          <use href="/img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
