<header class="page-header">
  <div class="header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">yachtjet</a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="#about">About</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link active" href="#yachts">Yachts</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link active" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <ul class="header-soc">
      <li class="header-soc-item">
        <a
          class="header-soc-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="header-soc-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="header-soc-item">
        <a
          class="header-soc-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="header-soc-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-youtube"></use></svg
        ></a>
      </li>
      <li class="header-soc-item">
        <a
          class="header-soc-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="header-soc-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-facebook"></use></svg
        ></a>
      </li>
    </ul>

    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <div class="mobile-menu-close-container">
        <a class="header-logo" href="./index.html">yachtjet</a>
        <button class="mobile-menu-close-btn">
          <svg class="mobile-menu-close-icon" width="28" height="28">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#about">About</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#yachts">Yachts</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>

      <div class="mobile-menu-soc">
        <ul class="mobile-menu-soc-list">
          <li class="mobile-menu-soc-item">
            <a
              class="mobile-menu-soc-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="mobile-menu-soc-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="mobile-menu-soc-item">
            <a
              class="mobile-menu-soc-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="mobile-menu-soc-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-youtube"></use></svg
            ></a>
          </li>
          <li class="mobile-menu-soc-item">
            <a
              class="mobile-menu-soc-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="mobile-menu-soc-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
