<div class="header-menu-section">
  <nav class="navigation-menu-header-bord">
    <div class="menu-section-plate">
      <a class="text-menu-section" href="/src/index.html">yachtjet</a>
      <button type="button" class="btn-close-header-menu">
        <svg class="icon-close-header-menu" width="28" height="28">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <ul class="navigation-menu-list">
      <li class="list-item-navigation-menu first">
        <a class="navigation-text-header-menu" href="">About</a>
      </li>
      <li class="list-item-navigation-menu">
        <a class="navigation-text-header-menu" href="">Yachts</a>
      </li>
      <li class="list-item-navigation-menu">
        <a class="navigation-text-header-menu" href="">Reviews</a>
      </li>
    </ul>
  </nav>
  <ul class="list-media-menu container-menu-header">
    <li class="list-item-media-menu">
      <a href="https://www.instagram.com/" target="_blank">
        <svg class="icon-media-header-menu" height="24" width="24">
          <use href="/img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="list-item-media-menu">
      <a href="https://www.youtube.com/" target="_blank">
        <svg class="icon-media-header-menu" height="24" width="24">
          <use href="/img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="list-item-media-menu">
      <a href="https://www.facebook.com/" target="_blank">
        <svg class="icon-media-header-menu" height="24" width="24">
          <use href="/img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
