<section class="rent-form">
  <div class="container rent-container">
    <div class="rent-form-container">
      <h2 class="rent-title">Rent a yacht now</h2>
      <form class="rent-formular">
        <input
          class="rent-input"
          type="text"
          name="name"
          aria-label="Full name"
          placeholder="Full name"
          required
        />
        <input
          class="rent-input"
          type="email"
          name="email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          aria-label="Email"
          placeholder="Email"
          required
        />
        <input
          class="rent-input"
          type="tel"
          pattern="^+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
          aria-label="Phone number"
          placeholder="Phone number"
          required
        />
        <textarea
          class="rent-area"
          name="Comment"
          aria-label="Comment"
          placeholder="Comment"
        ></textarea>
        <button type="submit" class="rent-button">send</button>
      </form>
    </div>

    <div class="rent-container-image">
      <picture class="rent-images-group">
        <source
          srcset="
            /img/rent-form/desktop/1x/pc2_1x.jpg 1x,
            /img/rent-form/desktop/2x/pc2_2x.jpg 2x
          "
          media="(min-width: 1439px)"
        />
        <source
          srcset="
            /img/rent-form/desktop/1x/pc1_1x.jpg 1x,
            /img/rent-form/desktop/2x/pc1_2x.jpg 2x
          "
          media="(min-width: 1279px)"
        />
        <source
          srcset="
            /img/rent-form/tablet/1x/tablet_1x.jpg 1x,
            /img/rent-form/tablet/2x/tablet_2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/rent-form/mobile/1x/mobile_1x.jpg 1x,
            /img/rent-form/mobile/2x/mobile_2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="rent-image"
          src="/img/rent-form/mobile/1x/mobile_1x.jpg"
          alt="yacht"
        />
      </picture>
    </div>
  </div>
</section>
