<section class="rent-form">
    <h2 class="rent-title">Rent a yacht now</h2>
    <form class="rent-formular">
        <input class="rent-input" type="text" name="name" placeholder="Full name" required>
        <input class="rent-input" type="email" name="email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email">
        <input class="rent-input" type="number" pattern="^+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$" placeholder="Phone number">
        <textarea class="rent-area" name="" id="" placeholder="Comment"></textarea>
    </form>
    <button type="submit" class="rent-button">send</button>
    <img class="rent-image" src="/img/images/image 4.jpg" alt="yacht">
</section>
