<section class="sec-reviews">
  <div class="container">
    <div class="sec-reviews-descr">
      <h2 class="review-title">
        YachtJet take pride in providing the best possible service and
        experience to our customers
      </h2>
      <p class="review-main-text">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>

    <ul class="review-list">
      <li class="review-item first">
        <img
          class="review-img"
          src="/img/reviews/mobile/1x/john.jpg"
          srcset="
            /img/reviews/mobile/1x/john.jpg    1x,
            /img/reviews/mobile/2x/john@2x.jpg 2x
          "
          alt="John Wax"
        />
        <div class="review-info">
          <h3 class="review-name">John Wax</h3>
          <p class="review-text">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
      <li class="review-item second">
        <img
          class="review-img"
          src="/img/reviews/mobile/1x/victoria.jpg"
          alt="Victoria Romashenko"
          srcset="
            /img/reviews/mobile/1x/victoria.jpg    1x,
            /img/reviews/mobile/2x/victoria@2x.jpg 2x
          "
        />
        <div class="review-info">
          <h3 class="review-name">Victoria Romashenko</h3>
          <p class="review-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>
      <li class="review-item third">
        <img
          class="review-img"
          src="/img/reviews/mobile/1x/ihor.jpg"
          alt="Ihor Trachuk"
          srcset="
            /img/reviews/mobile/1x/ihor.jpg    1x,
            /img/reviews/mobile/2x/ihor@2x.jpg 2x
          "
        />
        <div class="review-info">
          <h3 class="review-name">Ihor Trachuk</h3>
          <p class="review-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
