.sec-about {
  min-width: 280px;
  margin: -59px auto 0;
  border: transparent;
  border-radius: 24px;
  background: #fbfbfb
}

.about-text-content {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 40px;
}

.about-title {
  max-width: 295px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.about-subtitle-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 295px;
  
}

.about-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.about-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}

.img-yachtjet {
  border-radius: 24px;
  
}

@media screen and (min-width: 375px){
  .sec-about {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .sec-about {
    margin: -67px auto 0;
    max-width: 704px;
  }

    .about-title {
      font-size: 48px;
      max-width: 536px;
    }

    .about-text-content {
      padding: 50px 32px;
      gap: 50px;
    }

    .about-subtitle-text {
      max-width: 389px;
    }

    .about-subtitle {
      font-size: 23px;
    }

    .about-text {
      font-size: 13px;
      line-height: 1.15;
    }
}

@media screen and (min-width: 1280px) {
  .sec-about {
    max-width: 1180px;
    margin: -35px auto 0;
  }

    .about-text-content {
      padding: 50px;
      flex-direction: row;
      justify-content: space-between;
    }

    .about-title {
      max-width: 537px;
    }

        .about-subtitle-text {
          max-width: 354px;
        }
}

@media screen and (min-width: 1440px) {
  .sec-about {
    max-width: 1340px;
  }
  .about-subtitle-text {
    max-width: 404px;
  }
}




