/** ========= HEADER ========= */
.header-container {
  position: absolute;
  max-width: 335px;
  width: 90vw;
  height: 42px;
  top: 20px;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #fbfbfb;
  border-radius: 8px;
  background-color: #fbfbfb;
  padding: 4px 20px;
}

.header-logo {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.burger-btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  fill: transparent;
  stroke: #1b414b;
}

.header-nav-list,
.header-soc {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 704px;
    width: 150vw;
    height: 48px;
    padding: 4px 28px;
  }

  .header-logo {
    font-size: 20px;
  }

  .burger-btn {
    display: none;
  }

  .header-nav-list,
  .header-soc,
  .header-nav {
    display: flex;
  }

  .header-nav-list {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    gap: 4px;
  }

  .header-nav-link {
    border-radius: 8px;
    padding: 15px 25px;
    background-color: rgba(27, 65, 75, 0.5);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    background-color: #1b414b;
  }

  .header-soc {
    gap: 8px;
  }

  .header-soc-link {
    display: flex;
    align-items: center;
  }

  .header-soc-icon {
    fill: #1b414b;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-soc-link:hover .header-soc-icon,
  .header-soc-link:focus .header-soc-icon {
    fill: #062730;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1080px;
    padding: 4px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1240px;
  }
}

/** ========= END HEADER ========= */
