.header-menu-section {
    position: fixed;

    width: 100%;
    height: 100%;
    z-index: 25;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    background-color: #0e1823;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    overflow: auto;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-open {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    overflow: auto;
}

.menu-section-plate {
    background-color: #fbfbfb;

    height: 42px;
    display: flex;
    align-items: center;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;

    margin-right: 20px;
    margin-left: 20px;
    margin-top: 16px;
}

.text-menu-section {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.text-menu-section:active,
.text-menu-section:hover {
    color: #055545;
}

.btn-close-header-menu {
    height: 28px;
    width: 28px;
    background-color: transparent;
    box-shadow: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
}

.icon-close-header-menu {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #055545;
}

.btn-close-header-menu:hover .icon-close-header-menu,
.btn-close-header-menu:active .icon-close-header-menu {
    fill: #0e1823;
}

.navigation-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    margin-top: 200px;
}

.list-item-navigation-menu {
    border-radius: 8px;
}

.list-item-navigation-menu:active,
.list-item-navigation-menu:hover {
    background-color: rgba(251, 251, 251, 0.3);
}

.first {
    background-color: #1b414b;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.first:active,
.first:hover {
    background-color: #fbfbfb;
}

.navigation-text-header-menu {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fbfbfb;

    width: 91px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(27, 65, 75, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.first:active,
.first:hover {
    color: #1b414b;
}

.soc-menu-list {
    margin-bottom: auto;

}

.container-menu-header {
    padding-bottom: 40px;
}

.list-media-menu {
    display: flex;
    gap: 8px;
    justify-content: center;
}


.icon-media-header-menu {
    fill: #fbfbfb;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-media-header-menu:active,
.icon-media-header-menu:hover {
    fill: #062730;
}


@media screen and (max-height: 465px) {
    .menu-section-plate {
        position: relative;
    }



    .navigation-menu-list {
        margin-top: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media screen and (min-width: 768px) {
    .header-menu-section {
        display: none;

    }
}