.sec-hero {
  min-width: 320px;
  padding: 260px 0 302px 0;
  margin: auto;
  background-image: url(/img/hero/mobile/1x/hero-mob.jpg),
    linear-gradient(
      360deg,
      rgba(17, 19, 31, 0.8) 15.05%,
      rgba(17, 19, 31, 0.8) 75.3%,
      rgba(17, 19, 31, 0.8) 98.27%
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .sec-hero {
    background-image: url(/img/hero/mobile/2x/hero-mob-2x.jpg),
      linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.8) 75.3%,
        rgba(17, 19, 31, 0.8) 98.27%
      );
  }
}

.hero-title {
  max-width: 100%;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
}

.hero-text {
  max-width: 100%;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}

/* Стилі для кнопки повторюються по макету!  */
.hero-btn {
  border: none;
  display: block;
  border-radius: 15px;
  padding: 14px 32px;
  text-align: center;
  margin: 0 auto;
  background-color: #1b414b;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  max-width: 142px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .sec-hero {
    min-width: 768px;
    padding: 280px 0 282px 0;
    background-image: url(/img/hero/tablet/1x/hero-tab.jpg),
      linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.8) 75.3%,
        rgba(17, 19, 31, 0.8) 98.27%
      );
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .sec-hero {
      background-image: url(/img/hero/tablet/2x/hero-tab-2x.jpg),
        linear-gradient(
          360deg,
          rgba(17, 19, 31, 0.8) 15.05%,
          rgba(17, 19, 31, 0.8) 75.3%,
          rgba(17, 19, 31, 0.8) 98.27%
        );
    }
  }

  .hero-title {
    font-size: 70px;
    margin: 0 auto 24px auto;
    max-width: 650px;
  }

  .hero-text {
    max-width: 597px;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto 48px auto;
  }

  .hero-btn {
    padding: 16px 40px;
    background-color: #1b414b;
    font-size: 18px;
    line-height: 1.1;
    max-width: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .sec-hero {
    min-width: 1280px;
    padding: 235px 0 215px 0;
    background-image: url(/img/hero/desktop/1x/hero-des.jpg),
      linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.8) 75.3%,
        rgba(17, 19, 31, 0.8) 98.27%
      );
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .sec-hero {
      background-image: url(/img/hero/desktop/2x/hero-des-2x.jpg),
        linear-gradient(
          360deg,
          rgba(17, 19, 31, 0.8) 15.05%,
          rgba(17, 19, 31, 0.8) 75.3%,
          rgba(17, 19, 31, 0.8) 98.27%
        );
    }
  }

  .hero-title {
    font-size: 80px;
    max-width: 1000px;
  }
}

@media screen and (min-width: 1440px) {
  .sec-hero {
    min-width: 1440px;
    padding: 235px 0 215px 0;
    background-image: url(/img/hero/desktop/1x/hero-des-big.jpg),
      linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.8) 75.3%,
        rgba(17, 19, 31, 0.8) 98.27%
      );
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .sec-hero {
      background-image: url(../img/hero/desktop/2x/hero-des-big-2x.jpg),
        linear-gradient(
          360deg,
          rgba(17, 19, 31, 0.8) 15.05%,
          rgba(17, 19, 31, 0.8) 75.3%,
          rgba(17, 19, 31, 0.8) 98.27%
        );
    }
  }
}
