.sec-price-list * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sec-price-list {
  --white: #fbfbfb;
  --grey: #040306;
  --black: #1b414b;
  padding: 80px 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

.t-card,
.d-card {
  display: none;
}
.section-title {
  color: var(--white);
  max-width: 320px;
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto;
}
.yacht-card-list {
  overflow-x: hidden;
  display: flex;
  gap: 32px;
  margin: 40px auto;
}
.yacht-img {
  border-radius: 24px;
}
.yacht-card {
  border-radius: 24px;
  padding: 16px;
  background-color: var(--white);
  flex-shrink: 0;
}
.card-title-wrapper {
  display: flex;
  gap: 125px;
}
.card-text-wrapper {
  padding: 32px 16px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.rent-btn {
  margin: 0 auto;
  padding: 14px 32px;
  border-radius: 15px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  color: var(--white);
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: background 250ms ease-in-out, color 250ms ease-in-out;
}

.rent-btn:hover,
.rent-btn:focus {
  background-color: var(--white);
  color: var(--black);
}
.yacht-card-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}
.yacht-card-title,
.yacht-type {
  display: inline;
}
.hid-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px;
  white-space: nowrap;
}
.yacht-type {
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--grey);
  opacity: 0.4;
}
.params {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

.params:before {
  position: absolute;
  content: '';
  width: 100%;
  border-bottom: solid 1px rgba(4, 3, 6, 0.1);
  position: absolute;
  left: 0;
  top: -1rem;
}
.param-names {
  opacity: 0.4;
}
.param-name-item,
.param-value-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.param-values,
.param-names {
  display: grid;
  gap: 6px;
}
.param-name-item,
.yacht-type,
.yacht-card-title {
  text-transform: uppercase;
}
.param-value-item {
  color: var(--black);
}

@media (min-width: 768px) {
  .card-title-wrapper {
    gap: 22px;
  }
  .sec-price-list {
    padding: 150px 0;
  }
  .yacht-card-list {
    margin: 75px auto 50px;
    width: 704px;
  }
  .section-title {
    max-width: 645px;
    font-size: 48px;
  }
  .yacht-card-title {
    font-size: 16px;
    width: 147px;
  }
  .yacht-type {
    font-size: 13px;
  }
  .rent-btn {
    padding: 16px 40px;
    font-size: 18px;
    line-height: 1.1;
    max-width: 179px;
  }
  .t-card {
    display: block;
  }
}
@media (min-width: 1280px) {
  .card-title-wrapper {
    gap: 33px;
  }
  .yacht-card-title {
    width: 177px;
  }
  .yacht-card-list {
    width: 1180px;
    gap: 24px;
  }
  .hid-text {
    max-width: 180px;
  }
  .section-title {
    max-width: 714px;
  }
  .d-card {
    display: block;
  }
}
@media (min-width: 1440px) {
  .card-title-wrapper {
    gap: 48px;
  }
  .yacht-card-list {
    width: 1240px;
    gap: 32px;
  }
}
