.rent-form {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}
.rent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.rent-form-container {
  width: 100%;
  margin-bottom: 80px;
}
.rent-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.rent-formular {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
  min-width: 280px;
  max-width: 335px;
  background-color: transparent;
  margin-top: 40px;
  width: 100%;
}
.rent-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(251, 251, 251, 0.4);

  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding-left: 18px;
  width: 100%;
  height: 42px;
  background-color: transparent;
}
.rent-area {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(251, 251, 251, 0.4);
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  width: 100%;
  height: 108px;
  background-color: transparent;
  resize: none;
}
.rent-button {
  border-radius: 15px;
  padding: 14px 44px;
  background: #1b414b;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border: none;
  margin-top: 22px;
}
.rent-image {
  border-radius: 24px;
}
textarea:focus,
input:focus {
  outline: 1px solid rgba(251, 251, 251, 0.5);
}

/* tablet  */
@media (min-width: 768px) {
  .rent-form {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .rent-button {
    padding: 18px 75px;
    margin-top: 32px;
  }
  .rent-title {
    font-size: 48px;
  }

  .rent-form-container {
    margin-bottom: 100px;
    width: 473px;
  }
  .rent-formular {
    min-width: 100%;
    margin-top: 50px;
  }

  .rent-input {
    height: 54px;
  }
}
/* computer 1280 */
@media (min-width: 1280px) {
  .rent-container-image {
    flex-shrink: 0;
    margin-top: 0px;
    margin-right: 50px;
  }
  .rent-container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
  }
  .rent-form-container {
    width: 100%;
    margin-bottom: 0;
    min-width: 472px;
  }
}
/* computer 1440 */
@media (min-width: 1440px) {
  .rent-form {
    width: 1440px;
    margin: auto;
    justify-content: flex-start;
  }

  .rent-container {
    margin: 0;
  }
}
