.sec-reviews{
    background-color: #0E1823;
    padding-bottom: 80px;
}

.container{
    margin: auto;
    padding: 0 20px;
    min-width: 280px;
    max-width: 375px;
}


.second {
    display: none;
}

.third {
    display: none;
}

.sec-reviews-descr{
 margin-bottom: 40px;
 min-width: 280px;
}

.review-title{
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;

    margin:0 auto 25px;
    min-width: 280px;
   
}

.review-main-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
     letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    opacity: 0.4;

    min-width: 280px;

}


.review-list{
    display: flex;
    justify-content: center;
}
.first{
    display: flex;
    flex-direction: column;
}

.review-item{
    border-radius: 24px;
    padding: 32px 8px;
    max-width: 335px;
    margin: 0;
    background: #fbfbfb;
}



.review-img{
    border-radius: 50%;
   margin: 0 auto 24px;
   width: 56px;
   height: 56px;
   
 }

.review-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;

    margin-bottom: 8px;

}

.review-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);

    


    
    
}

.review-info{
margin: 0 8px;
}

/* media tablet */
@media screen and (min-width: 768px){

    .container{
        min-width: 704px;
        padding: 0 32px;
    }

    .review-title{
        font-size: 48px;
        
    }

    .review-main-text{
        font-size: 14px;
        line-height: 1.29;
       
       margin: 0 auto;
    }


    .second{
        display: flex;
        flex-direction: column;
    }

    .review-list{
        display: flex;
        
        gap: 32px;
        
    }

    .review-item{
        width: 336px;
        
    }

    .sec-reviews{
        padding-bottom: 150px;
    }

    .sec-reviews-descr {
    width: 640px;
    }
}


/* media laptop */
@media screen and (min-width: 1280px){

    .container{
        min-width: 1180px;
        padding: 0 50px;
    }
 .third {
    display: flex;
    flex-direction: column;
    
 }

 .review-title{
  width: 854px;
 }

 .review-main-text{
    width: 571px;
 }

 .review-list{
    
    gap: 26px;
    
   
 }

 .review-item{
   width: 376px;
   padding: 32px 28px;
   
 }

 .review-info {
     margin: 0;
 }

  .sec-reviews-descr {
      width: 854px;
      margin: 0 auto 75px;
  }
}

/* media desktop */
@media screen and (min-width: 1440px){
    .container {
        min-width: 1240px;
        padding: 0 100px;
    }

    .review-item {
        width: 392px;
        padding: 32px 36px;
    }
    .review-list {
    
        gap: 32px;
    }


}





    


